
:root {
    --primary:     #F9F2EC;
    --red: #822333;
    --blackblue: #004180;
    --white: #ffffff;
  }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar {
    background-color: var(--primary) !important;
}
.nav-item a {
    color: var(--red);
    font-weight: bold;
}