
:root {
    --primary:     #F9F2EC;
    --whiteblue: #82c1ff;
    --blackblue: #004180;
    --white: #ffffff;
  }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#carouselExampleIndicators {
    height: 50vh;
}
.navbar {
    background-color: var(--primary) !important;
}
.carousel-inner {
    height: 100%;
}
.carousel-item {
    height: 100%;
    position: relative;
}
.carousel-item img {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(30%);
}
